*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

.header{
    display: flex;
    text-align: center;
    width: 100%;
}

.text{
    width: 75%;
    height: 100%;
    text-align: center;
    background: #1e1e1e; 
    line-height: 65px;
    font-size: 25px;
    padding: 17px;
}


.btn{
    position: fixed;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    background: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    cursor: grabbing;
     z-index: 5 ;
}
.btn2{
    text-align: center;
    height: 45px;
    width: 45px;
    margin: 17px;
    text-align: center;
    border-radius: 80px;
    cursor: grabbing;
}

.btn:hover , .btn2:hover{
    background: white;
}

.btn:hover span , .btn2:hover span{
    color: black;
}

.btn span, .btn2 span{
    color: white;
    font-size: 28px;
    line-height: 45px;
    font-weight: bold;
    display: block;
}

.sidebar{
    position: fixed;
    width: 25%;
    height: 100%;
    display: none;
    background: #1b1b1b;
    z-index: 11111;
}

.sidebar.showtime{
    display: block;

}

.text h1{
    color: white;
    font-weight: 700;
}

nav ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li {

    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li a:hover{
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

.fa-calculator{
    padding-right: 15px;
}

.fas{
    padding-right: 15px;
}

nav ul ul{
    position: static;
    display: none;
}

nav ul .con-pop.show{
    display: block;
}

nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 22px;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

nav ul li a:hover span{
    transform: translateY(-50%) rotate(-180deg);
}

@media only screen and ( max-width : 700px)
{
    .sidebar{
        width: 50%;
    }
}

@media only screen and ( max-width : 1000px)
{
    .sidebar{
        width: 40%;
    }
}

@media only screen and ( max-width : 500px)
{
    .sidebar{
        width: 70%;
    }
}